{% include 'header.html' %}
{% load static %}

<html>
    <head>
        <style>


    /* Set background image using the background-image property */ 
    /* background-image: url('pexels-pixabay-158163.jpg'); */

    /* Adjust other background properties as needed */
    /* background-repeat: repeat; or any other repeat value you prefer */
    /* background-size: cover; /* or contain, or auto, depending on your preference */
 
    </style>
    </head>
    <body style="background-color:black;">
        <!-- <link rel="stlesheet" href="{% static  'css\tom-barrett-hgGplX3PFBg-unsplash.jpg' %}" -->

        
        {% block content %}
        
        {% endblock %}

    </body>
</html>
